.formCard {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
}

.formContent label {
  display: flex;
  flex-direction: column;
  color: #aaa;
}

.formContent input {
  width: 370px;
  background-color: #1A1B25;
  margin: 10px;
  height: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 17px;
  padding: 5px;
  border-bottom: 1px solid white;
  margin-left: -3px;
}

.formContent button {
  border: none;
  padding: 10px;
  width: 13rem;
  border-radius: 40px;  
  background-color: #2058FF;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0,7s;
}

button:hover{
  background-color: #153ba3;
}

@media screen and (max-width: 1000px) {
  .blourContainer {
    width: 70%;
  }
  .formContent input {
    align-self: flex-start;
    width: 390px;
  }
}
