.formCard {
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
}

.formContent label {
  display: flex;
  flex-direction: column;
  color: #aaa;
}

.formContent input {
  width: 370px;
  background-color: #4b395a;
  border-radius: 20px;
  margin: 10px;
  height: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 17px;
  padding: 10px;
  border-bottom: 1px solid white;
  margin-left: -3px;

}

.formContent button {
  border: none;
  padding: 10px;
  width: 13rem;
  border-radius: 40px;  
  background-color: #9835FF;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  font-size: 20px;
  margin-top: 15px;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0,7s;
  /* align-self: flex-start; */
}

button:hover{
  background-color: #153ba3;
}

@media screen and (max-width: 900px){
  .formContent input {
    width: 90%;
  }
  .formContent button {
    width: 70%;
  }
}

@media screen and (max-height: 900px){
  .formContent input {
    height: 5px;
    padding-left: 15px;
    font-size: 13px;
    width: 90%;
  }
  .formContent button {
    width: 70%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin: 3px;
  }  
}
