.LogoContainer {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 70px;
}

.Logo_1 {
  color: white;
}

.Logo_2 {
  color: #1a1b25;
  font-size: 50px;
  margin-top: -90px;
  background-color: #ffffff;
  padding: 10px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media screen and (max-width: 1000px) {
  .LogoContainer {
    margin-bottom: -10px;
    margin-top: -200px;
  }
}