
.generalContainer {
  display: flex;
  margin-bottom: -100px;
}

.generalContainerMobile {
  display: flex;
  margin-bottom: -100px;
}

.LogoContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -20px;
  align-self: center;
  margin-left: 40px;
}

.LogoContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -20px;
  align-self: center;
  margin-left: 40px;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 70px;
}

.Logo_1Mobile {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  align-self: center;
  left: 20%;
  top: 40px;
}

.Logo_1 {
  color: white;
}

.Logo_2 {
  color: #1a1b25;
  font-size: 50px;
  margin-top: -130px;
  background-color: #ffffff;
  padding: 10px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.Logo_2Mobile {
  color: #1a1b25;
  font-size: 50px;
  margin-top: -130px;
  background-color: #ffffff;
  padding: 5px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: absolute;
  top: 280px;
  left: 20%;
}

@media screen and (max-width: 1000px) {
  .LogoContainer {
    margin-bottom: -10px;
  }
}

  
@media screen and (max-height: 720px) {
  .LogoContainer {
    margin-bottom: -100px;
  }

  .Logo_2Mobile {
    top:220px;
    left: 34%;
    font-size: 26px;
  }

  .Logo_1Mobile {
    top:20px;
    font-size: 26px;
    left: 34%;
  }
}