.LogoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 70px;
}

.Logo_1 {
  color: rgba(200, 30, 89);
}

.Logo_2 {
  color: #ddd;
  font-size: 50px;
  margin-top: -90px;
  background-color: #8A185B;
  padding: 10px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media screen and (max-width: 1000px) {
  .LogoContainer {
    margin-bottom: -10px;
    margin-top: -200px;
  }
}